<section class="info-page info-page--reverse">
  <div class="info-img">
    <picture>
      <source srcset="/assets/images/packaging.webp" type="image/webp" />
      <img src="assets/images/packaging.jpg" alt="Printing press image" appFadeImage />
    </picture>
  </div>
  <div class="info-text slide-in-left" slideIn>
    <h2>Packaging</h2>
    <p>
      The trade show is tomorrow. The new product line is launching sooner than planned. Our urgent printing service is
      built for these moments. Fresh Prints delivers simple packaging and product sleeves under emergency deadlines and
      shelf ready in record time. We make sure your products look perfect and are ready for the big day.
    </p>
    <p>
      We keep plenty of the most common card stocks on hand to print, score and fold your packaging, going from our
      floor to your door quickly. Give us a call and we’ll get your emergency moving in a positive direction.
    </p>
  </div>
</section>
