<section class="info-page info-page--reverse">
  <div class="info-img">
    <picture>
      <source srcset="/assets/images/sleeves.webp" type="image/webp" />
      <img src="assets/images/sleeves.jpg" alt="Printing press image" appFadeImage />
    </picture>
  </div>
  <div class="info-text slide-in-left" slideIn>
    <h2>Sleeves</h2>
    <p>
      When your business needs custom packaging sleeves now and printers have told you no, Fresh Prints will deliver.
    </p>
    <p>
      We live in a fast moving world. When deadlines are looming, we can deliver product sleeves for everything such as
      jars, boxes, bottles and clothing. We will help your product stand out with clean, high-quality prints and
      precision trimming.
    </p>
    <p>
      We understand that deadlines happen fast in the real world. That’s why we’re built for same-day and next-day
      printing when you need packaging sleeves now.
    </p>
    <p>Call us now to get your sleeves printed and delivered on time.</p>
  </div>
</section>
