<section class="info-page">
  <div class="info-img">
    <picture>
      <source srcset="/assets/images/postcards.webp" type="image/webp" />
      <img src="assets/images/postcards.jpg" alt="Printing press image" appFadeImage />
    </picture>
  </div>
  <div class="info-text slide-in-right head" slideIn>
    <div>
      <h2>Postcards</h2>
      <p>
        When you need postcards printed today, Fresh Prints is ready to deliver. We ensure that the postcards you
        receive are printed exactly to your specifications, no matter the quantity or deadline.
      </p>
      <p>
        Whether you’re promoting an event, mailing a campaign, or leaving behind branded materials, our postcards are
        handled with care and speed from start to finish. Fresh Prints is known throughout San Diego County for making
        the impossible happen. Tight deadline? No problem. We’ll get your postcards printed, cut, and ready to go: fast.
      </p>
      <p>Call us today and upload your artwork file to start your postcard order now.</p>
    </div>
  </div>
</section>
