<section class="info-page">
  <div class="info-img">
    <picture>
      <source srcset="/assets/images/labels.webp" type="image/webp" />
      <img src="assets/images/labels.jpg" alt="Printing press image" />
    </picture>
  </div>
  <div class="info-text">
    <h2>Labels</h2>
    <p>
      Fresh Prints is here to take care of your company’s urgent label printing needs. We serve San Diego’s businesses
      from Sorrento Valley to Imperial Beach, from Fallbrook to La Mesa. We offer label printing with quick turnaround
      times and flawless results.
    </p>
    <p>
      From paper to vinyl to static cling, every label we print is crisp, durable, and color-accurate. The Fresh Prints
      team ensures every order meets your specifications — and your deadline.
    </p>
    <p>
      Our emergency label printing services are trusted by companies big and small in industries from real estate to
      biotechnology to event planners to retailers.
    </p>
    <p>
      Fresh Prints is San Diego’s lifesaver that businesses trust when others can’t meet the deadline. Call now for your
      expeditious label printing needs.
    </p>
  </div>
</section>
