:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.file-uploader {
  border: 3px dashed #004380;
  border-radius: 20px;
  padding: 3rem 4rem;
}

p {
  color: white;
  text-align: center;
  margin: 0px;
}

.btn-div {
  text-align: center;
  margin-top: 10px;
}

.upload-btn {
  border: 1.5px solid #004380;
  background: black;
  padding: 0.5rem;
  margin: 2px;
  text-decoration: none;
  font-size: 12px;ng serve;
  color: white;
}
