<section class="info-page info-page--reverse">
  <div class="info-img">
    <picture>
      <source srcset="/assets/images/flyers.webp" type="image/webp" />
      <img src="assets/images/flyers.jpg" alt="Printing press image" />
    </picture>
  </div>
  <div class="info-text">
    <h2>Flyers</h2>
    <p>
      Flyers. Trifolds. Brochures. These are the simplest of tools that become silent salesmen for a last-minute event,
      a sudden sale, or a quick promotion. Whatever the reason, Fresh Prints emergency flyer printing has you covered.
    </p>
    <p>
      Get powerfully visual, full-color flyers produced and delivered 7 days a week, on your schedule. Choose from
      same-day, next-day, 2nd day service to ensure your message hits the streets without delay and to close that sale,
      no matter where in San Diego you are located.
    </p>
  </div>
</section>
