<section class="about-page">
  <div class="about-img">
    <picture>
      <source srcset="/assets/images/about_prints.webp" type="image/webp" />
      <img src="assets/images/about_prints.jpg" alt="Printing press image" />
    </picture>
  </div>
  <div class="about-text">
    <p>
      At FRESH PRINTS, we specialize in one thing: <b>EMERGENCY PRINTING (B2B)</b>. We’re not your standard print
      shop—we’re your behind-the-scenes lifesaver. When deadlines loom, events approach, and other printers say, “Sorry,
      we can’t ” we say, " <span class="highlight-word"><b>What’s your emergency—and how can we help?</b></span
      >"
    </p>
    <p>
      With over decades in commercial printing and a relentless commitment to service, we’ve earned the trust of many.
      Working with companies large and small, we’ve seen the urgent needs firsthand—saving countless deadlines and
      projects. We’ve handled near-impossible turnarounds, lost shipments for shows and conferences, team mishaps,
      dropped balls, and vendors who failed to deliver.
    </p>
    <p>
      From that experience, we saw the market’s need for a printing company built entirely on urgency. We know every
      emergency is different, and we treat each according to its time- sensitive demands. Whether it’s same-day,
      next-day, or “must-have-by” service, we take on the print jobs that can’t—or won’t—wait.
    </p>
    <p>If your next project feels too tight to pull off, call us. We’ll save your deadline—and possibly your job.</p>
  </div>
</section>
