<section class="body">
  <p>
    At <span class="highlight-word">FRESH PRINTS</span> we specialize in one
    thing: EMERGENCY commercial printing. We're not your standard print shop,
    we're your behind-the-scenes lifesaver. When deadlines are looming, events
    are fast approaching, and other printer say "Sorry, we can't" we ask "<span
      class="highlight-word"
      >Whats your emergency? How can we help?</span
    >"
  </p>
  <p>
    With over 50 years and deep roots in commercial printing and a relentless
    commitment to service we've earned the trust of many. With experience and
    much observation of working with companies small and large we saw the urgent
    needs of those companies and saved many deadlines and jobs. We've worked
    with near impossible deadlines, printing lost during travel for shows and
    conferences, team mishaps, balls dropped and other vendors not delivering.
    With those prior experiences we saw the need in the market for
    <span class="highlight-word">FRESH PRINTS</span>
    and a new approach, one built on urgency.
  </p>
  <p>
    Our focus is solely on your print emergency and we produce ONLY for those
    with that need. When your next print project seems too tight to make it
    happen,give us a call and let us save your deadline and possibly more.
  </p>
</section>
