<section class="info-page info-page--reverse">
  <div class="info-img">
    <picture>
      <source srcset="/assets/images/booklets.webp" type="image/webp" />
      <img src="assets/images/booklets.jpg" alt="Printing press image" appFadeImage />
    </picture>
  </div>
  <div class="info-text slide-in-left" slideIn>
    <h2>Booklets</h2>
    <p>
      Let Fresh Prints help you showcase your products and tell your story with high-quality, custom booklets and
      catalogs. Our speedy printing services help you create visually stunning pieces on the go; quicker than you might
      think.
    </p>
    <p>
      From detailed product catalogs for sales and retail, to impactful marketing booklets for events, tradeshows and
      presentations, we get you your material on time and within your deadline. We offer a limited range of paper stocks
      and binding options so we can execute at lightning speed, getting your project in… and out.
    </p>
  </div>
</section>
