<div class="layout-container">
  <header class="header">
    <div class="header-left"></div>
    <!-- placeholder for social links-->
    <div class="header-center">
      <a href="/">
        <img
          src="/assets/images/logo.png"
          alt="Fresh Prints logo"
          class="logo"
        />
      </a>
    </div>
    <div class="header-right">
      <span class="phone"
        ><i class="fa-solid fa-phone" style="color: #ffffff"></i>
        <b>619-500-1959</b></span
      >
      <nav>
        <a
          *ngFor="let button of navButtons"
          [routerLink]="button.url"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ button.label }}</a
        >
      </nav>
    </div>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>Need it Printed Now?</p>
    <div class="call-box">(619) 500-1959</div>
    <p>Emergency Calls Only.</p>
    <p class="copyright">© 2025 Fresh Prints</p>
  </footer>
</div>
