.home-page {
  overflow-x: hidden;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  position: relative;
  overflow: hidden;
}

h1 {
  display: inline-block;
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

h1 b {
  font-weight: bold;
  font-size: 2.2rem;
}

h2 {
  margin-bottom: 32px;
}

h2 b {
  font-size: 2.2rem;
}

.hero-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 100;
}

.emergency-title {
  color: var(--prints-red);
  font-size: 2rem;
}
.emergency-subtext {
  color: var(--prints-red);
  font-size: 1.2rem;
}

.carousel-inner img {
  height: 40vh;
  object-fit: cover;
}

/* .carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  opacity: 1;
  z-index: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  opacity: 0;
  z-index: 0;
} */

.info {
  background: black;
  color: var(--prints-white);
  padding: 1.5rem 4rem;
  text-align: center;
}
.no-wrap {
  white-space: nowrap;
}

.img-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.img-text .description {
  flex: 1 1 400px;
}

.img-text .home-img {
  flex: 1 1 300px; /* image grows, min width 300px */
  max-width: 100%;
}

.img-text .home-img img {
  width: 100%;
  height: auto;
  display: block;
}

.description .top-space {
  display: inline-block;
  margin-top: 24px;
}

.with-background {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: var(--prints-dark-blue);
  padding: 24px 3rem;
  margin-bottom: 24px;
}

.with-background h2 {
  text-align: left;
  padding-left: 40px;
  font-weight: bold;
}
.with-background p {
  text-align: left;
  padding-left: 40px;
}

.full-bleed {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
}

.full-bleed img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto 25px;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-row {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.products ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0px;
}

ul {
  margin-top: 24px;
  list-style-position: inside;
  padding-left: 40px;
  color: var(--prints-white);
}

li {
  text-align: left;
}

.products li {
  font-weight: bold;
}

.desktop-break {
  display: inline;
}

.mobile-break {
  display: none;
}

/* Animations */
/* initial state: offscreen to the right */

.slide-wrapper {
  margin-top: 100px;
  position: relative; /* just ensures normal stacking context */
}

.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

/* final state: in place */
.slide-in-right.active {
  transform: translateX(0);
  opacity: 1;
}

.carousel-img {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.carousel-img.loaded {
  opacity: 0.35;
}

/* On smaller screens (mobile), show the break */
@media (max-width: 755px) {
  hr {
    border-top: 1.5px solid black;
    margin: 2px;
  }

  .desktop-break {
    display: none;
  }

  .mobile-break {
    display: inline;
  }
}

@media (max-width: 767px) {
  .info {
    padding: 1.5rem 0.5rem;
  }
}

@media (max-width: 600px) {
  .hero {
    margin-top: 5px;
  }
}

/* 755 */
