<section class="info-page">
  <div class="info-img">
    <picture>
      <source srcset="/assets/images/stickers.webp" type="image/webp" />
      <img src="assets/images/stickers.jpg" alt="Printing press image" appFadeImage />
    </picture>
  </div>
  <div class="info-text slide-in-right head" slideIn>
    <div>
      <h2>Stickers</h2>
      <p>
        When you need custom stickers printed fast, we make it happen. At Fresh Prints we specialize in rush sticker
        printing with quick turnaround times. Whether you need stickers printed for events, product launches, pop-ups,
        packaging, or last-minute marketing.
      </p>
      <p>
        Our stickers are printed exceptionally fast and are our most rapidly manufactured item. When others can’t meet
        the deadline, we can. Call us today and let us help you with your sticker emergency.
      </p>
    </div>
  </div>
</section>
