:root {
  --prints-dark-blue: #161925;
  --prints-red: #b9272c;
  --prints-blue: #235789;
  --prints-yellow: #f4c430;
  --prints-white: #fdfffc;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0px;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }
}
