<section class="info-page">
  <div class="info-img">
    <picture>
      <!-- <source srcset="/assets/images/flyers.webp" type="image/webp" /> -->
      <img src="assets/images/catalogs_02.jpg" alt="trifold brochure flyer by Fresh Prints" appFadeImage />
    </picture>
  </div>
  <div class="info-text head">
    <div>
      <h1>Emergency Catalog Printing in San Diego, CA</h1>
      <p>
        When your deadline is non-negotiable, Fresh Prints is the partner you want on your side. We specialize in
        emergency catalog printing in San Diego, CA delivering professional catalogs with the speed your business needs,
        especially when you’re in a hurry or have, accidentally, dropped the ball.
      </p>
      <p>
        Whether you’re heading to a last-minute trade show, preparing for an urgent sales pitch, or gearing up for an
        important client meeting, we make sure you have polished catalogs in your hands right on time.
      </p>
      <p>
        <b
          >Get A Quote By Calling <span class="mobile-break"></span> <a href="tel:6195001959">619-500-1959</a> Today.</b
        >
      </p>
    </div>
  </div>
</section>
<section class="info-page">
  <div class="info-text">
    <div class="with-background">
      <div class="slide-in-right" slideIn>
        <h2 style="margin-bottom: 16px">Why Choose Fresh Prints for Rush Catalog Printing?</h2>
      </div>
    </div>
    <div class="h3-body">
      <div class="item">
        <i class="fa-solid fa-truck-fast fa-lg"></i>
        <h3><b>We Move Fast—Really Fast</b></h3>
        <p>
          Business doesn’t always follow the plan, and delays aren’t an option. That’s why we’ve streamlined our catalog
          production process to deliver lightning-fast turnaround without compromising quality.
        </p>
      </div>
      <div class="item">
        <i class="fa-solid fa-square-check fa-lg"></i>
        <h3><b>We Provide Top-Tier Print Quality</b></h3>
        <p>
          Your catalog reflects your brand. Ours are printed with professional detail, color accuracy, and smooth
          finishing—so every page looks clear and professional.
        </p>
      </div>
      <div class="item">
        <i class="fa-solid fa-thumbs-up fa-lg"></i>
        <h3><b>We Offer Easy Ordering, and a Stress-Free Experience</b></h3>
        <p>
          Send your files, tell us your deadline, and we’ll take it from there. No runaround, no confusion—just
          reliable, fast printing from a local San Diego team that understands urgency.
        </p>
      </div>
      <div class="item">
        <i class="fa-solid fa-map-location-dot fa-lg"></i>
        <h3><b>We Can Deliver Across All of San Diego County</b></h3>
        <p>
          From Downtown San Diego to Carlsbad, Chula Vista and Escondido and beyond, we deliver your catalogs right to
          your hotel, office, event venue, or home.
        </p>
        <p>If you’re in a rush, we’ll make the logistics effortless.</p>
      </div>
    </div>
    <div class="with-background">
      <div class="slide-in-right" slideIn>
        <h2>Fresh Prints Is Perfect for Any Last-Minute Printing Need</h2>
        <p>Have a last minute rush printing order you need to fill? <b>We print catalogs for:</b></p>
        <ul class="products-li">
          <li>Trade shows and conferences.</li>
          <li>Sales meetings and pitch decks.</li>
          <li>Real estate presentations.</li>
          <li>Financial meetings.</li>
          <li>Product showcases and retail promotions.</li>
          <li>Corporate events and training guides</li>
          <li>Client proposals and onboarding packets.</li>
          <li>Marketing materials.</li>
          <li>Annual reviews.</li>
          <li>And more!</li>
        </ul>
      </div>
    </div>
    <p style="margin-top: 16px">
      <b
        >No matter the purpose or quantity, we’re built for quick turnarounds. Get started today by giving us a call at
        <a href="tel:6195001959">619-500-1959</a>.</b
      >
    </p>
  </div>
</section>

<!-- 
<i class="fa-solid fa-truck-fast fa-lg" style="color: #1e3050;"></i> Move fast
<i class="fa-solid fa-square-check fa-lg" style="color: #000000;"></i> Top tier
<i class="fa-solid fa-thumbs-up fa-lg" style="color: #000000;"></i> easy ordering
<i class="fa-solid fa-map-location-dot fa-lg" style="color: #000000;"></i> San Diego
-->
