<section class="info-page">
  <div class="info-img">
    <picture>
      <source srcset="/assets/images/catalogs.webp" type="image/webp" />
      <img src="assets/images/catalogs.jpg" alt="Printing press image" />
    </picture>
  </div>
  <div class="info-text">
    <h2>Catalogs</h2>
    <p>
      Do you have a tight deadline and a delay is NOT an option? We have your back. Whether you’re prepping for a
      last-minute trade show, sales pitch, or an urgent client meeting, we specialize in high-quality, rush catalog
      printing when deadlines are tight.
    </p>
    <p>
      We understand that business doesn’t always stick to a schedule. That’s why we offer lightning-fast printing
      services to get your catalogs in your hands when you need them most, without sacrificing quality.
    </p>
    <p>
      From Downtown San Diego to Carlsbad, Chula Vista to Escondido, we provide fast delivery across the county. Need it
      delivered to a hotel, office, or convention center? Consider it done.
    </p>
    <p>Call us now – we are ready when you are. Our team is on standby to help you with urgent catalog printing.</p>
  </div>
</section>
