:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  box-sizing: border-box;
}

.with-background,
.h3-body,
.item,
.info-text {
  position: relative;
  overflow-x: hidden;
}
